@unknown {
	display: block;
}

a {

	@debug 1;
}

@if $foo == block {
	display: block;
}

@elseif $foo == table{
	display: table;
}

@else{
	display: inline-block;
}

b {

	@include foo;

	@include bar;
}
